@import 'src/variables';

.searchKeySelect {
  padding: 8px;
  font-size: 14px;
  border: 1px solid $border-color;
  border-radius: 4px;

  &:focus {
    border-color: $primary-color;
    outline: none;
  }
}
