@import 'src/variables';

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;

  span {
    margin: 0 10px;
    color: $primary-color;
  }
}

.icon {
  width: 24px;
  height: 24px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  color: $primary-color;
  cursor: pointer;

  &:hover {
    background-color: $button-hover-bg;
  }

  &:disabled {
    color: $disabled-color-text;
    cursor: not-allowed;
  }
}

.rotate {
  transform: rotate(180deg);
}
