@import './variables';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: $primary-color;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

button {
  background-color: inherit;
  border: none;
}

.table-container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: $modal-content-bg;
  border: 2px solid $border-color;
}

.table th {
  cursor: pointer;
  background-color: $table-header-bg;
}

.table tbody tr:hover {
  cursor: pointer;
  background-color: $row-hover-bg;
}
