$primary-color: rgba(60, 174, 25, 0.87);
$border-color: #c8c8c8;
$table-header-bg: #e8e8e8;
$row-hover-bg: #f9f9f9;
$modal-bg: rgba(0, 0, 0, 0.5);
$modal-content-bg: white;
$modal-content-box-shadow: rgba(0, 0, 0, 0.1);
$disabled-color: #c8c8c8;
$button-bg: #ffffff;
$button-hover-bg: rgba(204, 250, 190, 0.87);
$disabled-color-text: rgb(135, 135, 135);
$close-color: #333;
$close-hover-color: #e74c3c;
$heading-color: #333;
$text-color: #555;