$primary-color: rgb(60 174 25 / 87%);
$border-color: #c8c8c8;
$table-header-bg: #e8e8e8;
$row-hover-bg: #f9f9f9;
$modal-bg: rgb(0 0 0 / 50%);
$modal-content-bg: white;
$modal-content-box-shadow: rgb(0 0 0 / 10%);
$disabled-color: #c8c8c8;
$button-bg: #fff;
$button-hover-bg: rgb(204 250 190 / 87%);
$disabled-color-text: rgb(135 135 135);
$close-color: #333;
$close-hover-color: #e74c3c;
$heading-color: #333;
$text-color: #555;
